{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bedu Travels</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/destinos.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <nav class="menu_main">
        <a class="marca" href="#">
          <strong>BEDUTRAVELS</strong>
        </a>
        <div>
          {% if user.is_authenticated %}
          <a href="#">Bienvenido {{ user.username.capitalize }}</a>
          {% if user.is_superuser %}
          <a href="/admin/" target="_blank">Admin Panel</a>
          {% endif %}
          <a href="/logout/">Cerrar Sesion</a>
          {% else %}
          <a href="">LogIn</a>
          <a href="">SignIn</a>
          {% endif %}
        </div>
    </nav>

    <section id="country-cover">
        <h2>Tours</h2>
        <h3>Destinos maravillosos para revitalizar el cuerpo y alimentar el alma</h3>
    </section>

    <section id="content">
      <aside id="column-left">
        <p class="margin-bottom-sm">Filtrar por:</p>
        <input class="margin-bottom-sm" type="text" name="" value="">
        <div class="margin-bottom-sm">
          <p>Destinos</p>
            <ul>
              {% for t in tour_arrivals %}
              <li>
                <input type="checkbox" id="fruit4" name="" value="">
                <label for="fruit4">{{ t }}</label>
              </li>
              {% endfor %}
           </ul>
         </div>
         <div class="margin-bottom-sm">
          <p>Salidas</p>
            <ul>
              {% for t in tour_takeoff %}
              <li>
                <input type="checkbox" id="fruit4" name="" value="">
                <label for="fruit4">{{ t }}</label>
              </li>
              {% endfor %}
           </ul>
         </div>
       </aside>

       <section id="central">
         {% for tour in tours %}
          <div class="tour-container">
            <div class="card-image-container">
              <img src="{{ tour.img }}" alt="{{ tour }}">
            </div>
            <div class="card-content">
              <div>
                <h3>{{ tour.name }}</h3>
                <p class="margin-bottom-sm">
                  {{ tour.description }}
                </p>

                <table class="table-info-tour">
                  <tbody>
                    <tr>
                      <th>Starts /Ends </th>
                      <td>{{ tour.takeoff_zone }}/{{ tour.arrival_zone }}</td>
                    </tr>
                    <tr>
                      <th>Operator</th>
                      <td>{{ tour.operator }}</td>
                    </tr>
                    <tr>
                      <th>Tour Type</th>
                      <td>{{ tour.tour_type }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="">
                <button class="button-tour">Ver tour</button>
              </div>
            </div>
          </div>
          {% endfor %}
        </section>
      </section>

      <footer class="margin-top-lg">
        <ul>
          <li>Bedu Travels</li>
          <li>hola@bedutravels.com</li>
        </ul>
        <div class="social-media-container">
          <img src="{% static 'img/facebook.svg' %}" alt="">
          <img src="{% static 'img/twitter.svg' %}" alt="">
          <img src="{% static 'img/instagram.svg' %}" alt="">
        </div>
      </footer>
  </body>

</html>
